# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Dependency directories
node_modules/

# Build output
dist/
build/
dist-ssr/

# TypeScript build info
*.tsbuildinfo

# IDE-specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?



# Cache and temporary files
.cache/
.parcel-cache/
.temp/
.docusaurus/
.next/
.nuxt/
out/
.nyc_output/
coverage/
*.tgz
*.lock-wscript
.yarn-integrity
.pnp.*

# Lint and formatting
.eslintcache
.stylelintcache

# Miscellaneous
.DS_Store
Thumbs.db